<ion-view title="Actìnidos" id="page10">
  <ion-content padding="true" style="background: url(img/JkLjTyyRRAuCJg4qibd5_space-iphone-wallpaper-8.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="actNidos-button-bar17" class="button-bar">
      <button id="actNidos-button83" style="border-radius:100px 100px 100px 100px;" class="button button-royal button-block">Ac</button>
      <button id="actNidos-button84" style="border-radius:100px 100px 100px 100px;" class="button button-royal button-block">Th</button>
      <button id="actNidos-button85" style="border-radius:100px 100px 100px 100px;" class="button button-royal button-block">Pa</button>
    </div>
    <div id="actNidos-button-bar18" class="button-bar">
      <button id="actNidos-button86" style="border-radius:100px 100px 100px 100px;" class="button button-royal button-block">U</button>
      <button id="actNidos-button87" style="border-radius:100px 100px 100px 100px;" class="button button-royal button-block">Np</button>
      <button id="actNidos-button88" style="border-radius:100px 100px 100px 100px;" class="button button-royal button-block">Pu</button>
    </div>
    <div id="actNidos-button-bar19" class="button-bar">
      <button id="actNidos-button89" style="border-radius:100px 100px 100px 100px;" class="button button-royal button-block">Am</button>
      <button id="actNidos-button90" style="border-radius:100px 100px 100px 100px;" class="button button-royal button-block">Cm</button>
      <button id="actNidos-button91" style="border-radius:100px 100px 100px 100px;" class="button button-royal button-block">Bk</button>
    </div>
    <div id="actNidos-button-bar20" class="button-bar">
      <button id="actNidos-button92" style="border-radius:100px 100px 100px 100px;" class="button button-royal button-block">Cf</button>
      <button id="actNidos-button93" style="border-radius:100px 100px 100px 100px;" class="button button-royal button-block">Es</button>
      <button id="actNidos-button94" style="border-radius:100px 100px 100px 100px;" class="button button-royal button-block">Fm</button>
    </div>
    <div id="actNidos-button-bar21" class="button-bar">
      <button id="actNidos-button95" style="border-radius:100px 100px 100px 100px;" class="button button-royal button-block">Md</button>
      <button id="actNidos-button96" style="border-radius:100px 100px 100px 100px;" class="button button-royal button-block">No</button>
      <button id="actNidos-button97" style="border-radius:100px 100px 100px 100px;" class="button button-royal button-block">Lr</button>
    </div>
  </ion-content>
</ion-view>