<ion-view title="Alcalinos" id="page7">
  <ion-content padding="true" style="background: url(img/ooz3ZZ7GQie9QzVwjxue_ebl5xCz.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="alcalinos-button-bar5" class="button-bar">
      <a ui-sref="litio()" id="alcalinos-button40" style="border-radius:100px 100px 100px 100px;" class="button button-assertive button-block">Li</a>
      <a ui-sref="sodio()" id="alcalinos-button41" style="border-radius:100px 100px 100px 100px;" class="button button-assertive button-block">Na</a>
      <a ui-sref="potasio()" id="alcalinos-button42" style="border-radius:100px 100px 100px 100px;" class="button button-assertive button-block">K</a>
    </div>
    <div id="alcalinos-button-bar6" class="button-bar">
      <a ui-sref="rubidio()" id="alcalinos-button43" style="border-radius:100px 100px 100px 100px;" class="button button-assertive button-block">Rb</a>
      <a ui-sref="cesio()" id="alcalinos-button44" style="border-radius:100px 100px 100px 100px;" class="button button-assertive button-block">Cs</a>
      <a ui-sref="francio()" id="alcalinos-button45" style="border-radius:100px 100px 100px 100px;" class="button button-assertive button-block">Fr</a>
    </div>
  </ion-content>
</ion-view>