<ion-view title="Alcalinotérreos" id="page8">
  <ion-content padding="true" style="background: url(img/ome80skVQiy8MLFUn5hw_4820b1b0cb074261f04538be6eafd0de.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="alcalinotRreos-button-bar7" class="button-bar">
      <a ui-sref="berilio()" id="alcalinotRreos-button46" style="border-radius:100px 100px 100px 100px;" class="button button-calm button-block">Be</a>
      <a ui-sref="magnesio()" id="alcalinotRreos-button47" style="border-radius:100px 100px 100px 100px;" class="button button-calm button-block">Mg</a>
      <a ui-sref="calcio()" id="alcalinotRreos-button48" style="border-radius:100px 100px 100px 100px;" class="button button-calm button-block">Ca</a>
    </div>
    <div id="alcalinotRreos-button-bar8" class="button-bar">
      <a ui-sref="estroncio()" id="alcalinotRreos-button49" style="border-radius:100px 100px 100px 100px;" class="button button-calm button-block">Sr</a>
      <a ui-sref="bario()" id="alcalinotRreos-button50" style="border-radius:100px 100px 100px 100px;" class="button button-calm button-block">Ba</a>
      <a ui-sref="radio()" id="alcalinotRreos-button51" style="border-radius:100px 100px 100px 100px;" class="button button-calm button-block">Ra</a>
    </div>
  </ion-content>
</ion-view>