<ion-view title="Berilio" id="page23">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/rB4I43RcTfSCAzykw1FM_berilio.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="berilio-list17">
      <div class="item item-body" id="berilio-list-item-container13">
        <div id="berilio-markdown23" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">El berilio es un elemento químico de símbolo
            <strong>Be</strong> y número atómico 4. Es un elemento Alcalinotérreo bivalente, tóxico, de color gris, duro, ligero y quebradizo. Se emplea principalmente como endurecedor en aleaciones, especialmente de cobre.</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>