<ion-view title="               BIENVENIDO" id="page1" style="background-color:#220505;">
  <ion-content padding="true" style="background: url(img/Kn7CqrorQXCefGj7gCXh_056b4894-3a5e-4d4f-a22d-ed1028b117dd.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 280px;"></div>
    <a ui-sref="tablaPeriDica()" id="BIENVENIDO-button21" style="font-weight:500;border-radius:100px 100px 100px 100px;" class="button button-positive button-block">comenzar</a>
  </ion-content>
</ion-view>