<ion-view title="Calcio" id="page25">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/TSPC6PvQuKxKGaZ5iIzP_calcio.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="calcio-list21">
      <div class="item item-body" id="calcio-list-item-container17">
        <div id="calcio-markdown30" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">El calcio es un elemento químico, de símbolo
            <strong>Ca</strong> y de número atómico 20. Su masa atómica es 40,078 u. El calcio es un metal blando, grisáceo, y es el quinto más abundante en masa de la corteza terrestre. También es el ion más abundante disuelto en el agua de mar, tanto como por
            su molaridad y como por su masa, después del sodio, cloruros, magnesio y sulfatos.</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>