<ion-view title="Cerio" id="page31">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/pTWKDZwEQGyPbv1HCCfg_cerio.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="cerio-list27">
      <div class="item item-body" id="cerio-list-item-container23">
        <div id="cerio-markdown42" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">El cerio es un elemento químico de símbolo
            <strong>Ce</strong> y número atómico 58. Es uno de los 14 elementos químicos que siguen al lantano en la tabla periódica, denominados por ello lantánidos. El cerio está situado entre el lantano y el praseodimio.</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>