<ion-view title="Cesio" id="page20">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/whdRVJXqSMWudc8bX2qa_descarga.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="cesio-list14">
      <div class="item item-body" id="cesio-list-item-container10">
        <div id="cesio-markdown18" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">El cesio es el elemento químico con número atómico 55 y peso atómico de 132,905 uma. Su símbolo es
            <strong>Cs</strong>, y es el más pesado de los metales alcalinos en el grupo IA de la tabla periódica, a excepción del francio (hasta febrero de 2007); se encuentran en componentes no orgánicos</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>