<ion-view title="Disprosio" id="page39">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/j8uSdDcCSEORXl1JHrCN_disprosio.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="disprosio-list35">
      <div class="item item-body" id="disprosio-list-item-container31">
        <div id="disprosio-markdown58" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">El disprosio es un elemento químico cuyo símbolo es
            <strong>Dy</strong> y su número atómico es 66. Es un metal de transición incluido en el grupo de los lantánidos o tierras raras de color blanco plata. Fue identificado por primera vez en 1886 por Paul Émile Lecoq de Boisbaudran, pero no fue posible
            obtener una muestra pura hasta la década de 1950, con el método de intercambio iónico. En la naturaleza el disprosio se encuentra formado por 7 isótopos, y no existe en la corteza terrestre en forma aislada sino en compuestos junto con otros
            lantánidos.</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>