<ion-view title="Erbio" id="page41">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/IwotjqpSgmEwufeJGZ7g_erbio.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="erbio-list37">
      <div class="item item-body" id="erbio-list-item-container33">
        <div id="erbio-markdown62" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">El erbio es un elemento químico de la tabla periódica cuyo símbolo es
            <strong>Er</strong> y su número atómico es 68. El erbio es un elemento un tanto raro de color plateado perteneciente a los lantánidos y que aparece asociado a otros lantánidos en el mineral gadolinita procedente de Ytterby (Suecia).</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>