<ion-view title="Estroncio" id="page26">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/SwwqO62ZTCdoEbOSTh8A_estroncio.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="estroncio-list22">
      <div class="item item-body" id="estroncio-list-item-container18">
        <div id="estroncio-markdown32" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">El estroncio es un elemento químico de la tabla periódica cuyo símbolo es
            <strong>Sr</strong> y su número atómico es 38.</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>