<ion-view title="Europio" id="page36">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/R9TVC5SQT6SN7f82wgUU_europio.gif" style="display: block; width: 59%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="europio-list32">
      <div class="item item-body" id="europio-list-item-container28">
        <div id="europio-markdown52" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">El europio es un elemento químico de la tabla periódica cuyo símbolo es
            <strong>Eu</strong> y su número atómico es 63.</p>

          <p style="color:#000000;">Fue descubierto en 1890 por Paul Emile Lecoq de Boisbaudran y aislado por primera vez por Eugène Demarçay, quien le dio su actual nombre, en 1901. Debe su nombre al continente europeo, al igual que el americio a América.</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>