<ion-view title="Francio" id="page21">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/J1kosWpQi6v8LlG368KQ_2ea29a7a5b498ca008f6845fff1f7d38.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="francio-markdown19" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">El francio, antiguamente conocido como eka-cesio y actinio K,1​ es un elemento químico cuyo símbolo es
        <strong>Fr</strong> y su número atómico es 87. Su electronegatividad es la más baja conocida y es el segundo elemento menos abundante en la naturaleza (el primero es el astato). El francio es un metal alcalino altamente radiactivo y reactivo que se desintegra
        generando astato, radio y radón. Como el resto de los metales alcalinos, sólo posee un electrón en su capa de valencia.</p>
    </div>
    <ion-list id="francio-list15">
      <div class="item item-body" id="francio-list-item-container11"></div>
    </ion-list>
  </ion-content>
</ion-view>