<ion-view title="Gadolinio" id="page37">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/9PhLTjdxQbuzShGuEOth_gadolinio.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="gadolinio-list33">
      <div class="item item-body" id="gadolinio-list-item-container29">
        <div id="gadolinio-markdown54" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">El gadolinio es un elemento químico de la tabla periódica cuyo símbolo es
            <strong>Gd</strong> y cuyo número atómico es 64. Es un metal raro de color blanco plateado, es maleable y dúctil. Solo se encuentra en la naturaleza de forma combinada (sal).</p>

          <p style="color:#000000;">Puesto que la temperatura de Curie del gadolinio es 292 K (18,85 °C) su magnetismo dependerá de la temperatura ambiente. Por encima de dicha temperatura será paramagnético, y ferromagnético por debajo.</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>