<ion-view title="Gases nobles" id="page14">
  <ion-content padding="true" style="background: url(img/NgPZeMIvQKqc0JlKGSWu_download.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="gasesNobles-button-bar42" class="button-bar">
      <a href="tel:" id="gasesNobles-button162" style="border-radius:100px 100px 100px 100px;" class="button button-balanced button-block">He</a>
      <div style="margin-right:-20px;">
        <button id="gasesNobles-button163" style="left:-10px;border-radius:100px 100px 100px 100px;" class="button button-balanced button-full">Ar</button>
      </div>
      <button id="gasesNobles-button164" style="border-radius:100px 100px 100px 100px;" class="button button-balanced button-block">kr</button>
    </div>
    <div id="gasesNobles-button-bar43" class="button-bar">
      <button id="gasesNobles-button165" style="border-radius:100px 100px 100px 100px;" class="button button-balanced button-block">Ne</button>
      <button id="gasesNobles-button166" style="border-radius:100px 100px 100px 100px;" class="button button-balanced button-block">Xe</button>
      <button id="gasesNobles-button121" style="border-radius:100px 100px 100px 100px;" class="button button-balanced button-block">Rn</button>
    </div>
    <button id="gasesNobles-button172" style="border-radius:100px 100px 100px 100px;" class="button button-balanced button-block">Og</button>
  </ion-content>
</ion-view>