<ion-view title="Holmio" id="page40">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/1xvfrp3LS1WD7yDCEF5x_holmio.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="holmio-list36">
      <div class="item item-body" id="holmio-list-item-container32">
        <div id="holmio-markdown60" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">El holmio es un elemento químico de la tabla periódica cuyo símbolo es
            <strong>Ho</strong> y su número atómico es 67.</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>