<ion-view title="Iterbio" id="page43">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/jWoWKzi7Ra2shpVTrFQQ_iterbio.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="iterbio-list39">
      <div class="item item-body" id="iterbio-list-item-container35">
        <div id="iterbio-markdown66" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">El iterbio o yterbio es un elemento químico de la tabla periódica que tiene el símbolo
            <strong>Yb</strong> y el número atómico 70. El iterbio es un elemento metálico plateado blando, una tierra rara de la serie de los lantánidos que se halla en la gadolinita, la monazita y el xenotimo. El iterbio se asocia a veces con el itrio u otros
            elementos relacionados y se usa en algunos aceros. El iterbio natural es una mezcla de siete isótopos estables.</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>