<ion-view title="Lactànidos" id="page9">
  <ion-content padding="true" style="background: url(img/VWBU4LViTzSdvltFCAHI_03-Blue-High-Defination-Wallpapers.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="lactNidos-button-bar11" class="button-bar">
      <a ui-sref="lantano()" id="lactNidos-button65" style="border-radius:100px 100px 100px 100px;" class="button button-balanced button-block">La</a>
      <a ui-sref="cerio()" id="lactNidos-button66" style="border-radius:100px 100px 100px 100px;" class="button button-balanced button-block">Ce</a>
      <a ui-sref="praseodimio()" id="lactNidos-button67" style="border-radius:1000px 1000px 1000px 1000px;" class="button button-balanced button-block">Pr</a>
    </div>
    <div id="lactNidos-button-bar12" class="button-bar">
      <a ui-sref="neodimio()" id="lactNidos-button68" style="border-radius:100px 100px 100px 100px;" class="button button-balanced button-block">Nd</a>
      <a ui-sref="prometio()" id="lactNidos-button69" style="border-radius:100px 100px 100px 100px;" class="button button-balanced button-block">Pm</a>
      <a ui-sref="samario()" id="lactNidos-button70" style="border-radius:100px 100px 100px 100px;" class="button button-balanced button-block">Sm</a>
    </div>
    <div id="lactNidos-button-bar13" class="button-bar">
      <a ui-sref="europio()" id="lactNidos-button71" style="border-radius:100px 100px 100px 100px;" class="button button-balanced button-block">Eu</a>
      <a ui-sref="gadolinio()" id="lactNidos-button72" style="border-radius:100px 100px 100px 100px;" class="button button-balanced button-block">Gd</a>
      <a ui-sref="terbio()" id="lactNidos-button73" style="border-radius:100px 100px 100px 100px;" class="button button-balanced button-block">Tb</a>
    </div>
    <div id="lactNidos-button-bar14" class="button-bar">
      <a ui-sref="disprosio()" id="lactNidos-button74" style="border-radius:100px 100px 100px 100px;" class="button button-balanced button-block">Dy</a>
      <a ui-sref="holmio()" id="lactNidos-button75" style="border-radius:100px 100px 100px 100px;" class="button button-balanced button-block">Ho</a>
      <a ui-sref="erbio()" id="lactNidos-button76" style="border-radius:100px 100px 100px 100px;" class="button button-balanced button-block">Er</a>
    </div>
    <div id="lactNidos-button-bar15" class="button-bar">
      <a ui-sref="tulio()" id="lactNidos-button77" style="border-radius:100px 100px 100px 100px;" class="button button-balanced button-block">Tm</a>
      <a ui-sref="iterbio()" id="lactNidos-button78" style="border-radius:100px 100px 100px 100px;" class="button button-balanced button-block">Yb</a>
      <a ui-sref="lutecio()" id="lactNidos-button79" style="border-radius:100px 100px 100px 100px;" class="button button-balanced button-block">Lu</a>
    </div>
  </ion-content>
</ion-view>