<ion-view title="Lantano" id="page30">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/RBOayS3vSKmOan6oP7W5_lantano.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="lantano-list26">
      <div class="item item-body" id="lantano-list-item-container22">
        <div id="lantano-markdown40" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">El lantano es un elemento químico de la tabla periódica cuyo símbolo es
            <strong>La</strong> y su número atómico es 57.</p>

          <p style="color:#000000;">Es el primer elemento de la serie de los lantánidos.</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>