<ion-view title="Litio" id="page16">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/bF9BMGC7RrG1rnGNt1Em_download.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="litio-list1">
      <div class="item item-body" id="litio-list-item-container1">
        <div id="litio-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">El litio (en griego: λιθίον, ‘piedrecita’)?​ es un elemento químico de símbolo
            <strong>Li</strong> y número atómico 3. En la tabla periódica, se encuentra en el grupo 1, entre los elementos alcalinos. En su forma pura, es un metal blando, de color blanco plata, que se oxida rápidamente en aire o agua. Su densidad es la mitad
            de la del agua, siendo el metal y elemento sólido más ligero.</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>