<ion-view title="Lutecio" id="page44">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/MB3N7dN6Q3iQotW3VF12_lutecio.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="lutecio-list40">
      <div class="item item-body" id="lutecio-list-item-container36">
        <div id="lutecio-markdown68" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">El lutecio es un elemento químico, de número atómico 71, cuyo símbolo químico es
            <strong>Lu</strong>. A pesar de ser uno de los elementos del bloque d, con frecuencia aparece incluido entre los lantánidos (tierras raras), ya que con éstos comparte muchas propiedades. De todos ellos es el elemento más difícil de aislar, lo cual
            justifica su carestía y los relativamente pocos usos que se le han encontrado.</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>