<ion-view title="Magnesio" id="page24">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/vMvkSApzSouhMKEpCZkC_magnesio12.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="magnesio-list18">
      <div class="item item-body" id="magnesio-list-item-container14">
        <div id="magnesio-markdown25" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">El magnesio es el elemento químico de símbolo
            <strong>Mg</strong> y número atómico 12. Su masa atómica es de 24,305 u. Es el séptimo elemento en abundancia en el orden del 2 % de la corteza terrestre y el tercero más abundante disuelto en el agua de mar. El ion magnesio es esencial para todas
            las células vivas. El metal puro no se encuentra en la naturaleza. Una vez producido a partir de las sales de magnesio, este metal alcalino-térreo es utilizado como un elemento de aleación.</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>