<ion-view title="Metales de transiciòn" id="page11">
  <ion-content padding="true" style="background: url(img/oOFCcIGjRrurOaiyR3s5_majjZQ0.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="metalesDeTransiciN-button-bar22" class="button-bar">
      <button id="metalesDeTransiciN-button102" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">Sc</button>
      <button id="metalesDeTransiciN-button103" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">Ti</button>
      <button id="metalesDeTransiciN-button104" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">V</button>
    </div>
    <div id="metalesDeTransiciN-button-bar23" class="button-bar">
      <button id="metalesDeTransiciN-button105" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">Cr</button>
      <button id="metalesDeTransiciN-button106" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">Mn</button>
      <button id="metalesDeTransiciN-button107" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">Fe</button>
    </div>
    <div id="metalesDeTransiciN-button-bar24" class="button-bar">
      <button id="metalesDeTransiciN-button108" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">Co</button>
      <button id="metalesDeTransiciN-button109" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">Ni</button>
      <button id="metalesDeTransiciN-button110" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">Cu</button>
    </div>
    <div id="metalesDeTransiciN-button-bar31" class="button-bar">
      <button id="metalesDeTransiciN-button129" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">Zn</button>
      <button id="metalesDeTransiciN-button130" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">Y</button>
      <button id="metalesDeTransiciN-button131" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">Zr</button>
    </div>
    <div id="metalesDeTransiciN-button-bar25" class="button-bar">
      <button id="metalesDeTransiciN-button111" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">Ru</button>
      <button id="metalesDeTransiciN-button112" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">Rh</button>
      <button id="metalesDeTransiciN-button113" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">Pd</button>
    </div>
    <div id="metalesDeTransiciN-button-bar30" class="button-bar">
      <button id="metalesDeTransiciN-button126" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">Nb</button>
      <button id="metalesDeTransiciN-button127" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">Mo</button>
      <button id="metalesDeTransiciN-button128" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">Tc</button>
    </div>
    <div id="metalesDeTransiciN-button-bar29" class="button-bar">
      <button id="metalesDeTransiciN-button123" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">Ag</button>
      <button id="metalesDeTransiciN-button124" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">Cd</button>
      <button id="metalesDeTransiciN-button125" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">Hf</button>
    </div>
    <div id="metalesDeTransiciN-button-bar9" class="button-bar">
      <button id="metalesDeTransiciN-button169" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">Ta</button>
      <button id="metalesDeTransiciN-button170" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">W</button>
      <button id="metalesDeTransiciN-button171" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">Re</button>
    </div>
    <div id="metalesDeTransiciN-button-bar26" class="button-bar">
      <button id="metalesDeTransiciN-button114" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">Os</button>
      <button id="metalesDeTransiciN-button115" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">Ir</button>
      <button id="metalesDeTransiciN-button116" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">Pt</button>
    </div>
    <div id="metalesDeTransiciN-button-bar27" class="button-bar">
      <button id="metalesDeTransiciN-button117" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">Au</button>
      <button id="metalesDeTransiciN-button118" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">Hg</button>
      <button id="metalesDeTransiciN-button119" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">3</button>
    </div>
  </ion-content>
</ion-view>