<ion-view title="Metales del Bloque P" id="page12">
  <ion-content padding="true" style="background: url(img/4QeTeLLtRHq8ouiMDwMn_4feed4f1d6a14006254721b3045cbc12.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="metalesDelBloqueP-button-bar32" class="button-bar">
      <button id="metalesDelBloqueP-button132" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-dark button-block">Al</button>
      <button id="metalesDelBloqueP-button133" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-dark button-block">Ga</button>
      <button id="metalesDelBloqueP-button134" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-dark button-block">In </button>
    </div>
    <div id="metalesDelBloqueP-button-bar33" class="button-bar">
      <a href="tel:" id="metalesDelBloqueP-button135" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-dark button-block">Sn</a>
      <button id="metalesDelBloqueP-button136" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-dark button-block">Ti</button>
      <button id="metalesDelBloqueP-button137" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-dark button-block">Pb</button>
    </div>
    <div id="metalesDelBloqueP-button-bar34" class="button-bar">
      <button id="metalesDelBloqueP-button138" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-dark button-block">Bi</button>
      <button id="metalesDelBloqueP-button139" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-dark button-block">Uut</button>
      <button id="metalesDelBloqueP-button140" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-dark button-block">Fi</button>
    </div>
    <div id="metalesDelBloqueP-button-bar10" class="button-bar">
      <button id="metalesDelBloqueP-button180" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-dark button-block">Uup</button>
      <button id="metalesDelBloqueP-button181" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-dark button-block">Lv</button>
    </div>
  </ion-content>
</ion-view>