<ion-view title="Metales" id="page3">
  <ion-content padding="true" style="background: url(img/4FMU99tWQ4WiNEQwp9fE_ebl5xCz.jpg) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="queSonLosMetales()" id="metales-button98" style="border-radius:100px 100px 100px 100px;" class="button button-positive button-block">¿Què son los metales?</a>
    <a ui-sref="alcalinos()" id="metales-button29" style="color:#FFFFFF;border-radius:100px 100px 100px 100px;" class="button button-assertive button-block">Alcalinos</a>
    <a ui-sref="alcalinotRreos()" id="metales-button30" style="border-radius:100px 100px 100px 100px;" class="button button-calm button-block">Alcalinotèrreos</a>
    <a ui-sref="lactNidos()" id="metales-button31" style="border-radius:100px 100px 100px 100px;" class="button button-balanced button-block">Lactànidos</a>
    <a ui-sref="actNidos()" id="metales-button32" style="border-radius:100px 100px 100px 100px;" class="button button-royal button-block">Actìnidos</a>
    <a ui-sref="metalesDeTransiciN()" id="metales-button33" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">Metales de transición</a>
    <a ui-sref="metalesDelBloqueP()" id="metales-button34" style="border-radius:100px 100px 100px 100px;" class="button button-dark button-block">Metales del Bloque P</a>
  </ion-content>
</ion-view>