<ion-view title="Metaloides" id="page4">
  <ion-content padding="true" style="background: url(img/ODTyxIQnqD0C0OndZ0AQ_85677-wallpaper-hd.jpg) no-repeat center;background-size:cover;" class="has-header">
    <button id="metaloides-button173" style="border-radius:100px 100px 100px 100px;" class="button button-dark button-block">Que son los metaloides</button>
    <div id="metaloides-button-bar35" class="button-bar">
      <button id="metaloides-button141" style="border-radius:100px 100px 100px 100px;" class="button button-positive button-block">B</button>
      <button id="metaloides-button142" style="border-radius:100px 100px 100px 100px;" class="button button-positive button-block">Si</button>
      <button id="metaloides-button143" style="border-radius:100px 100px 100px 100px;" class="button button-positive button-block">Ge</button>
    </div>
    <div id="metaloides-button-bar36" class="button-bar">
      <button id="metaloides-button144" style="border-radius:100px 100px 100px 100px;" class="button button-positive button-block">As</button>
      <button id="metaloides-button145" style="border-radius:100px 100px 100px 100px;" class="button button-positive button-block">Sb</button>
      <button id="metaloides-button146" style="border-radius:100px 100px 100px 100px;" class="button button-positive button-block">Te</button>
    </div>
    <div id="metaloides-button-bar37" class="button-bar"></div>
    <button id="metaloides-button176" style="border-radius:100px 100px 100px 100px;" class="button button-positive button-block">At</button>
  </ion-content>
</ion-view>