<ion-view title="Neodimio" id="page33">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/WErzd4OsSbCpajJ0taq3_neodimio.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="neodimio-list29">
      <div class="item item-body" id="neodimio-list-item-container25">
        <div id="neodimio-markdown46" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">El neodimio es un elemento químico cuyo símbolo es
            <strong>Nd</strong> y su número atómico es 60.</p>

          <p style="color:#000000;">A la temperatura ambiente, se encuentra en estado sólido. Es parte del grupo de tierras raras. Fue descubierto en 1885 por el químico austríaco Carl Auer von Welsbach.</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>