<ion-view title="No metales" id="page22">
  <ion-content padding="true" style="background: url(img/esRHiRQ5R9qzvYFmMZpx_fondos-de-pantalla-hd.jpg) no-repeat center;background-size:cover;" class="has-header">
    <button id="noMetales-button100" style="border-radius:100px 100px 100px 100px;" class="button button-positive button-block">Que son los no metales</button>
    <a ui-sref="otrosNoMetales()" id="noMetales-button101" style="border-radius:100px 100px 100px 100px;" class="button button-balanced button-block">Otros no metales</a>
    <a ui-sref="gasesNobles()" id="noMetales-button120" style="border-radius:100px 100px 100px 100px;" class="button button-calm button-block">Gases nobles</a>
  </ion-content>
</ion-view>