<ion-view title="Otros no metales" id="page13">
  <ion-content padding="true" style="background: url(img/sgX0x4kLT8urdY7sVM50_images.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="otrosNoMetales-button-bar38" class="button-bar">
      <button id="otrosNoMetales-button150" style="border-radius:100px 100px 100px 100px;" class="button button-positive button-block">H</button>
      <button id="otrosNoMetales-button151" style="border-radius:100px 100px 100px 100px;" class="button button-balanced button-block">C</button>
      <button id="otrosNoMetales-button152" style="border-radius:100px 100px 100px 100px;" class="button button-assertive button-block">N</button>
    </div>
    <div id="otrosNoMetales-button-bar39" class="button-bar">
      <button id="otrosNoMetales-button153" style="border-radius:100px 100px 100px 100px;" class="button button-calm button-block">O</button>
      <button id="otrosNoMetales-button154" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block">F</button>
      <button id="otrosNoMetales-button155" style="border-radius:100px 100px 100px 100px;" class="button button-royal button-block">P</button>
    </div>
    <div id="otrosNoMetales-button-bar40" class="button-bar">
      <button id="otrosNoMetales-button156" style="border-radius:100px 100px 100px 100px;" class="button button-assertive button-block">Cl</button>
      <button id="otrosNoMetales-button157" style="border-radius:100px 100px 100px 100px;" class="button button-dark button-block">Se</button>
      <button id="otrosNoMetales-button158" style="border-radius:100px 100px 100px 100px;" class="button button-balanced button-block">Br</button>
    </div>
    <div id="otrosNoMetales-button-bar41" class="button-bar">
      <button id="otrosNoMetales-button159" style="border-radius:100px 100px 100px 100px;" class="button button-royal button-block">I</button>
      <button id="otrosNoMetales-button160" style="border-radius:100px 100px 100px 100px;" class="button button-positive button-block">2</button>
      <button id="otrosNoMetales-button161" style="border-radius:100px 100px 100px 100px;" class="button button-positive button-block">3</button>
    </div>
  </ion-content>
</ion-view>