<ion-view title="Potasio" id="page18">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/nrUjEcxGQIS1GyDDTIrw_potasio.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="potasio-list12">
      <div class="item item-body" id="potasio-list-item-container8">
        <div id="potasio-markdown16" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">El potasio es un elemento químico de la tabla periódica cuyo símbolo químico es
            <strong>K</strong> (del latín Kalium y del árabe. cuyo número atómico es 19. Es un metal alcalino de color blanco-plateado, que abunda en la naturaleza en los elementos relacionados con el agua salada y otros minerales. Se oxida rápidamente en el
            aire, es muy reactivo, especialmente en agua, y se parece químicamente al sodio. Es un elemento químico esencial.</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>