<ion-view title="Praseodimio" id="page32">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/GAethiI8SVarEhXb1aDC_praseodimio.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="praseodimio-list28">
      <div class="item item-body" id="praseodimio-list-item-container24">
        <div id="praseodimio-markdown44" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">El praseodimio es un elemento químico de la tabla periódica cuyo símbolo es
            <strong>Pr</strong> y su número atómico es 59. Es parte del grupo de tierras raras. Fue descubierto en 1885 por el químico austríaco Carl Auer von Welsbach.</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>