<ion-view title="Prometio" id="page34">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <ion-list id="prometio-list30">
      <div class="item item-body" id="prometio-list-item-container26">
        <div id="prometio-markdown48" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">El prometio es un elemento químico de la tabla periódica cuyo símbolo es
            <strong>Pm</strong> y su número atómico es 61. Algún tiempo se le denominó ilinio (por Illinois). Aunque, tras la observación de ciertas líneas espectrales, algunos científicos han reclamado haber descubierto este elemento en la naturaleza, nadie
            ha podido aislarlo de sustancias naturales.</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>