<ion-view title="Que son los metales" id="page15">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/8lRuPuSCSAimb6OlqAqC_10102029-Cabezas-de-tornillo-y-otros-detalles-de-metales--Foto-de-archivo.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="queSonLosMetales-list20">
      <div class="item item-body" id="queSonLosMetales-list-item-container16">
        <div id="queSonLosMetales-markdown28" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Se denominan
            <strong>metales</strong> a los elementos químicos caracterizados por ser buenos conductores del calor y la electricidad. Poseen alta densidad y son sólidos a temperatura ambiente
            <strong>(excepto el mercurio)</strong>; sus sales forman iones electropositivos (cationes) en disolución.</p>

          <p style="color:#000000;">La ciencia de materiales define un metal como un material en el que existe un solapamiento entre la banda de valencia y la banda de conducción en su estructura electrónica (enlace metálico). Esto le da la capacidad de conducir fácilmente calor
            y electricidad (tal como el cobre) y generalmente la capacidad de reflejar la luz, lo que le da su peculiar brillo. En ausencia de una estructura electrónica conocida, se usa el término para describir el comportamiento de aquellos materiales
            en los que, en ciertos rangos de presión y temperatura, la conductividad eléctrica disminuye al elevar la temperatura, en contraste con los semiconductores. Reaccionan químicamente con no metales, no son reactivos entre sí la gran mayoría
            de las veces (aunque algunos formen aleaciones entre sí).</p>

          <p style="color:#000000;">Dentro de los metales se encuentran los alcalinos (como el sodio) y los alcalinotérreos (como el magnesio) los cuales presentan baja densidad, son buenos conductores del calor y la electricidad, además de ser muy reactivos.También se incluyen
            los metales de transición (los cuales conforman la mayoría de los metales), los que se encuentran en diversos grupos y los lantánidos, actínidos y transactínidos.Teóricamente, el resto de elementos que queda por descubrir y sintetizar serían
            metales.</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>