<ion-view title="Radio" id="page28">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/3dgvouePSxuni4FF1TbL_radio.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="radio-list24">
      <div class="item item-body" id="radio-list-item-container20">
        <div id="radio-markdown36" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Radio (elemento), elemento químico que dio nombre al fenómeno conocido como radiactividad. El radio atómico.</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>