<ion-view title="Samario" id="page35">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/RTmUo1ZUQIS0S0Tqvg4j_samario.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="samario-list31">
      <div class="item item-body" id="samario-list-item-container27">
        <div id="samario-markdown50" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">El samario es un elemento químico de símbolo
            <strong>Sm</strong> y número atómico 62. Presenta una estructura cristalina romboedral, una masa atómica de 150,35 y una densidad de 7,35 g/cm3.</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>