<ion-view title="Sodio" id="page17">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/jsmhMxyCRE6fG2wcHb0Z_images.jpg" style="display: block; width: 50%; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="sodio-list11">
      <div class="item item-body" id="sodio-list-item-container7">
        <div id="sodio-markdown15" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">El sodio es un elemento químico de símbolo
            <strong>Na</strong> (del latín, natrium) con número atómico 11 que fue aislado por sir Humphry Davy en 1807. Es un metal alcalino blando, untuoso, de color plateado, muy abundante en la naturaleza, encontrándose en la sal marina y el mineral halita.
            Es muy reactivo, arde con llama amarilla, se oxida en presencia de oxígeno y reacciona violentamente con el agua.</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>