<ion-view title="Tabla periódica" id="page2">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/jvGwLtncTj6p1iqCgp2D_267421-wallpaper-hd.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 140px;"></div>
    <a ui-sref="metales()" id="tablaPeriDica-button4" style="color:#FFFFFF;border-radius:52px 52px 52px 52px;" class="button button-energized button-block">Metales</a>
    <a ui-sref="noMetales()" id="tablaPeriDica-button12" style="border-radius:52px 52px 52px 52px;" class="button button-positive button-block">No metales</a>
    <a ui-sref="metaloides()" id="tablaPeriDica-button5" style="border-radius:52px 52px 52px 52px;" class="button button-royal button-block">Metaloides</a>
  </ion-content>
</ion-view>