<ion-view title="Terbio" id="page38">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/TkyX7j2RWuL2LqPdklp0_terbio.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="terbio-list34">
      <div class="item item-body" id="terbio-list-item-container30">
        <div id="terbio-markdown56" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">El terbio es un elemento químico de la tabla periódica cuyo símbolo es
            <strong>Tb</strong>, sólido metálico de color blanco y brillo plateado. Su número atómico es 65, con una masa atómica de 158,9. Tiene una densidad de 8,3 g/cm3. Con un punto de fusión de 1.360 °C y un punto de ebullición de 3.041 °C. Es un metal de
            transición interna de la familia de los lantánidos del Sistema Periódico. Se encuentra habitualmente como óxido en las tierras raras. Forma sales trivalentes de color blanco cuyas soluciones son incoloras. Su concentración en la corteza terrestre
            es de 0,09 ppm.</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>