<ion-view title="Tulio" id="page42">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/DhTjTPKQtq9i3Ch4S6lp_tulio.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="tulio-list38">
      <div class="item item-body" id="tulio-list-item-container34">
        <div id="tulio-markdown64" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">El tulio es un elemento químico de la tabla periódica cuyo símbolo es
            <strong>Tm</strong> y su número atómico es 69.</p>

          <p style="color:#000000;">Fue descubierto por Per Teodor Cleve en Suecia en el año 1879. Su nombre procede del antiguo nombre de Escandinavia en latín, Thule, ya que fue descubierto en esa región.</p>

          <p style="color:#000000;">El Tulio es el menos abundante de los lantánidos (el prometio es menos abundante que el Tulio, pero no se lo encuentra naturalmente en la Tierra). Es un metal blando, con un lustre gris plateado brillante. A pesar de su alto precio y escasez,
            el tulio es utilizado como fuente de radiación en los equipos de rayos X portátiles y láseres de estado sólido.</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>